body,
.hero {
    /*  background-color: #17252a; */
    background-color: #8d230f;
    font-family: 'AleoRegular';
}

.hero {
    padding-top: 2rem;
}

h1,
h2,
h5 {
    font-family: 'AleoBold', Arial;
    font-weight: normal;
    font-style: normal;
    color: #def2f1;
}

p {
    font-weight: normal;
    font-style: normal;
    color: #def2f1;
}

.modal-close {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-close :hover {
    color: #1e434c;
}

.modal-content>p,
h5,
h1 {
    color: #17252a;
}

.open-btn {
    margin-top: 1rem;
}

.modal-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
}